<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"         
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"      
        xmlns:aop="http://www.springframework.org/schema/aop"	        
        xmlns:context="http://www.springframework.org/schema/context"
        xmlns:jee ="http://www.springframework.org/schema/jee"
        xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/data/jpa
        http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd	              
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/jee        
        http://www.springframework.org/schema/jee/spring-jee.xsd">
    
      <!-- Package needed to be scanned for annotation -->
	<context:component-scan base-package="com.sgaidai" />
        
        <jpa:repositories base-package ="com.sgaidai.springdatajpa.dao.repositories"/>     


	<!-- Data Source Declaration -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
                <property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/testing" />
		<property name="username" value="sgaidai" />
		<property name="password" value="honda250" />	
	</bean>
        
        
	
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
      <property name="dataSource" ref="dataSource" />
      
      <property name="packagesToScan" value="com.sgaidai.security.entities.model" />
      
      <property name="jpaVendorAdapter">
         <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
      </property>
      <property name="jpaProperties">
         <props>
            <prop key="hibernate.hbm2ddl.auto">validate</prop>
            <prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
            <prop key="hibernate.show_sql">true</prop>
         </props>
      </property>
   </bean>
   
  
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
      <property name="entityManagerFactory" ref="entityManagerFactory" />
   </bean>
    
   
   <tx:annotation-driven />

</beans>
